<head>
    <meta charset="UTF-8">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                The Tech Blog
            </h1>
            <nav>
                <ul>
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="#Logout">Logout</a> <!--will need to make this a button that does it and goes back to home screen?? --> 
                    </li>
                </ul>
            </nav>
        </header>
        <main class="container container-fluid mt-5">
            {{{ body }}}
        </main>
    </div>
</body>

</html>