<div class="home-page">
  <div class="blog-card-header">
    <h1>
        {{title}}
    </h1>
    <h2>
        Posted by {{author}} on {{date_posted}}
    </h2>
  <div class="card-body">
    <p>
      {{content}}
    </p>
  </div>
</div>